
.MuiDrawer-root > .MuiPaper-root{
  overflow: visible;
}
.MuiDrawer-root .css-1ab2xsx{
  background-color: transparent !important;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: transparent;
}