@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply text-[16px] md:text-[18px] scroll-smooth
  }
  body{
    @apply bg-primary text-default
  }
  h1{
    @apply font-robotoCondensed font-light text-title
  }
  h2,h3{
    @apply font-roboto text-title
  }
  h3{
    @apply text-xl
  }
  nav a{
    @apply font-inter text-nav

  }
  p, span{
    @apply font-inter text-articles leading-5 font-light 
  }
  header{
    @apply border-b-header
  }
  footer{
    @apply bg-footer
  }
  input[type="text"], textarea{
    @apply bg-input-contact font-light text-sm transition-all resize-none appearance-none 
  hover:ring-2 hover:ring-[#0047FF] ring-offset-2 ring-offset-[#12121280]
    focus:ring-2 focus:ring-[#0047FF] focus:outline-none 
    placeholder:text-zinc-500 placeholder:font-normal 
  }

  input[type="text"]:invalid, textarea:invalid{
    @apply ring-2 ring-red-500
  }
  section{
    @apply px-6 md:px-12 2xl:px-24 relative mt-12
  }

  form span{
    @apply font-inter text-red-400 leading-3 text-xs
  }
}