section .swiper{
  overflow-y: visible;
  overflow-x: hidden;
  position: static;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: -50px;
}

.swiper-pagination span{
  background-color: #fff;
  width: 10px;
  height: 10px;
}